body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0a1d2f, #4e2c7a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    overflow: hidden; /* Убираем прокрутку */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* Жизни */
.lives-text {
    font-size: 32px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Текст о конце игры */
.game-over-text, .level-complete-text {
    font-size: 48px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.show-text {
    opacity: 1;
}

.abc-button {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4e2c7a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.abc-button:hover {
    background-color: #6b3fa0;
}

#game-over-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

#game-over-modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-content button {
    background-color: #5d3ebc;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.modal-content button:hover {
    background-color: #7f44b8;
}

#win-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

#win-modal.show {
    opacity: 1;
    visibility: visible;
}