<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Игра</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Здесь будет игра!</h1>
<a href="/letterA">Назад</a>

<div class="game-container">
    <div class="nlo-container">
        <div class="nlo" id="nloA">
            <div class="letter" id="letterA">A</div>
        </div>
        <div class="nlo" id="nloB">
            <div class="letter" id="letterB">B</div>
        </div>
        <div class="nlo" id="nloC">
            <div class="letter" id="letterC">C</div>
        </div>
        <div class="nlo" id="nloD">
            <div class="letter" id="letterD">D</div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.11/dist/interact.min.js"></script>
<script src="/js/drag.js"></script>
</body>
</html>